<div class="notifications-indicators row">
    <div class="indicator-wrapper reminders col m4 s12">
        <div class="indicator-color" (click)="showItems"></div>
        <div class="indicator-meaning">- Reminders</div>
    </div>
    <div class="indicator-wrapper news col m4 s12">
        <div class="indicator-color"></div>
        <div class="indicator-meaning">- News</div>
    </div>
    <div class="indicator-wrapper assignments col m4 s12">
        <div class="indicator-color"></div>
        <div class="indicator-meaning">- Assignments</div>
    </div>
</div>
<div class="notifications-wrapper">
    <notification class="notification" *ngFor="let item of notifications" [notification]="item"></notification>
    <!--<table-sorting-example></table-sorting-example>-->
</div>