<bread-crumbs></bread-crumbs>
<div class="filter-block">
    <div class="form">
        <div class="more-options-wrapper">
            <div class="option creation-date" (click)="getByType(2)">
                <span class="creation-date">Unread</span>
            </div>
            <div class="option last-contact-date" (click)="getByType(1)">
                <span class="last-contact-date">All</span>
            </div>
            <div class="option remind-date" *ngIf="role !== 1" (click)="getByType(3)">
                <span class="remind-date">Interview</span>
            </div>
        </div>
    </div>
</div>
<spinner [loading]="isSpinnerVisible"></spinner>
<div class="btn-wrapper">
    <button class="mark-btn" (click)="markAsRead()">mark as read</button>
</div>
<div *ngIf="notifications" class="notifications-wrapper">
    <notification class="notification" *ngFor="let item of notifications; let i = index" [notification]="item"></notification>
</div>
<button *ngIf="hasMore" (click)="nextPage()">show more</button>