/* Structure */
.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}
.example-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}
.mat-table {
  overflow: auto;
}
.mat-column-color span {
  font-size: 0;
  display: block;
  width: 1.5rem;
  height: 1rem;
}
.Reminders .mat-column-color span {
  background: #374767;
}
.News .mat-column-color span {
  background: #52c1e6;
}
.Assignments .mat-column-color span {
  background: #6d8b9c;
}
.mat-header-cell .mat-sort-header-sorted {
  color: black;
}



.notifications-indicators .indicator-wrapper {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: left;
    padding: 0;
    min-width: 11rem;
}


.notifications-indicators .indicator-color {
    font-size: 0;
    height: 1.5rem;
    padding: 0;
    width: 2rem;
    margin: 10px;
}
 .notifications-indicators .indicator-color:hover {
     cursor: pointer;
//     opacity: 0.5;
 }
.notifications-indicators .reminders .indicator-color {
    background-color: #374767;
}
.notifications-indicators .news .indicator-color {
    background-color: #52c1e6;
}
.notifications-indicators .assignments .indicator-color {
    background-color: #6d8b9c;
}
