.form {
  margin-top: 0.5rem;
  background: #fff;
  padding: 0.25rem 0.5rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.more-options-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  flex-direction: row;
  padding: 0 5rem;
}
.option {
  height: 1.5rem;
  width: 9rem;
  min-width: 9rem;
  line-height: 1.5rem;
  margin: 0.25rem 0.5rem;
  color: #fff;
  background: rgb(141, 157, 167);
  text-align: center;
  font-size: 0.7em;
  text-transform: uppercase;
  opacity: 0.7;
  cursor: pointer;
  padding: 0 0.5rem;
}
.option:hover {
  opacity: 1;
}
.btn-wrapper {
  text-align: right;
  padding: 0.5rem 1rem 0.2rem;

}
.mark-btn {
  background-color: #273248;
  padding: 0.3rem 1rem;
  font-size: 0.7em;
  width: auto;
  min-width: 10rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 2px;
  text-align: center;
  letter-spacing: .5px;
  color: #fff;
  transition: .3s ease-out;
  cursor: pointer;
  text-transform: uppercase;
}
.mark-btn:hover,
.mark-btn:focus,
.mark-btn:active {
  background-color: #56CCF2;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}
.mark-btn.more {
  width: 10rem;
  margin: 0.5rem 0 0 0;  
}