.input-field label {
    text-transform: uppercase;
    padding: 0 15px;
    width: auto;
    top: -0.8rem;
    font-size: 0.6em;
}
.input-wrapper label.active {
    top: 0.4rem;
    font-size: 0.6em;
}
.input-wrapper input:focus+label,
.input-wrapper input:active+label {
    color: #56CCF2;
    font-size: 0.6em;
}

option {
    width: 25%;
}
