.filter-block {
  height: 22rem;
  padding: 0.5rem 0.8rem;
}

.filter-header {
  font-family: "Roboto Slab";
  color: #526C7B;
  font-size: 2.4rem;
  text-align: center;
}

.container {
  background: #fff;
  height: 10rem;
  line-height: 10rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  width: 60%;
  max-width: 60%;
}

.form {
  text-align: center;
  &__item {
    background: #fff;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    margin: 1rem auto;
  }
}

.form .btn {
  margin-top: 1rem;
  background-color: #273248;
  width: 60%;
  height: 3.5rem;
  cursor: url('/assets/cursor/link_6.png'), pointer;
}

.form .btn:hover,
.form .btn:focus {
  background-color: #56CCF2;
}

input::selection {
  color: #56CCF2;
}
