<div class="basket">
    <h2 md-dialog-title>STORE</h2>
    <div class="container" *ngIf="data">
        <md-dialog-content class="candidates" *ngIf="candidates">
            <h4 md-dialog-title>Candidates</h4>
            <button class="can-remove" (click)="deleteCandidate($event)" md-mini-fab><md-icon>remove</md-icon></button>
            <candidate-card *ngFor="let item of candidates" [showBasket]="false" [candidate]="item"></candidate-card>
        </md-dialog-content>
        <md-dialog-content class="positions" *ngIf="positions">
            <h4 md-dialog-title>Positions</h4>
            <position-preview-card *ngFor="let item of positions" [showBasket]="false" [position]="item"></position-preview-card>
        </md-dialog-content>

    </div>

    <md-dialog-actions>
        <button md-button md-dialog-close>No</button>
        <button md-button [md-dialog-close]="true">Yes</button>
    </md-dialog-actions>
</div>
