.candidates {
  width: 45%;
}

.positions {
  width: 45%;
}

.container {
  display: flex;
  justify-content: space-between;
}

.basket {
  background: #fff;
}

.btn {
  width: 80%;
  margin: 20px 10%;
  color: #fff;
  background-color: #273248;
}