.basket {
  position: fixed;
  background: #52c1e6;
  bottom: 30px;
  left: 30px;
  opacity: 0.8;
}
.basket:hover,
.basket:active {
  opacity: 1;
}
.scrollToTop{
	width:100px; 
	height:130px;
	padding:10px; 
	text-align:center; 
	background: whiteSmoke;
	font-weight: bold;
	color: #444;
	text-decoration: none;
	position:fixed;
	top:75px;
	right:40px;
	display:none;
	
}
.scrollToTop:hover{
	text-decoration:none;
}