<!-- <div class="datepicker-wrapper">
  <label for="date">{{placeholder}}</label>
  <input [(ngModel)]="date" id="date" type="date" class="datepicker">
</div> -->
<!-- <md-input-container>
  <input mdInput [min]="date" [mdDatepicker]="picker" placeholder="Choose a date">
  <button mdSuffix [mdDatepickerToggle]="picker"></button>
</md-input-container>
<md-datepicker #picker></md-datepicker> -->


<md-input-container class="example-full-width">
  <input mdInput [min]="minDate" [max]="maxDate" [mdDatepicker]="picker" [value]="value" placeholder="Choose a date">
  <button mdSuffix [mdDatepickerToggle]="picker"></button>
</md-input-container>
<md-datepicker #picker (selectedChanged)="dateChanged($event)"></md-datepicker>