.page-footer {
  background-color: #273248;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 500;
  color: #fff;

  &__inner {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
  }
}
.page-footer-social {
  margin-right: 0;
}
.page-footer-social li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 3px;
}
.page-footer-social a {
  margin: 0;
  padding: 5px;
  border-radius: 3px;
  background-color: #fff;
  display: block;
  opacity: 0.8;
}
.page-footer-social a:hover,
.page-footer-social a:focus {
  opacity: 1;
}
.page-footer-social a img {
  vertical-align: middle;
}
.page-footer-copyright {
    font-weight: bold;
    color: #FFFFFF;
}

span::selection {
  color: #FFFFFF;
}

img::selection {
  color: transparent;
}

ul::selection {
  color: transparent;
}

div::selection {
  color: #56CCF2; 
}

.page-footer-social a,
.page-footer-social img {
  cursor: url('/assets/cursor/default_end.png'), pointer;
}