.page-footer {
    background-color: #273248;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 500;
    color: #fff;
    &__inner {
        width: 100%;
        align-items: center;
        justify-content: space-between;
        display: flex;
    }
}

.page-footer-social {
    margin-right: 0;
    li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 3px;
    }
    a {
        margin: 0;
        padding: 5px;
        border-radius: 3px;
        background-color: #fff;
        display: block;
        opacity: 0.8;
        img {
            vertical-align: middle;
        }
        &:hover,
        &:focus {
            opacity: 1;
        }
    }
}

.page-footer-copyright {
    font-weight: bold;
    color: #FFFFFF;
}

ul::selection,
span::selection,
img::selection {
    background: transparent;
}

div::selection {
    color: #56CCF2;
}