<footer class="page-footer">
  <div class="page-footer__inner">
    <div class="page-footer-copyright">
        &copy; KnowBase, 2017
    </div>
    <div class="page-footer-social">
      <ul>
        <li><span>Contact us</span></li>
        <li><a href="https://github.com/chirichok98/group4-app" target="_blank" title="GitHub"><img src='../../assets/octocat.png' height="25px" width="25px"/></a></li>
        <li><a href="https://docs.google.com/document/d/1H1JXDiunvph3lhDBnmDghgtbsn9X3Aj8l6GWtbt6PJc/edit#heading=h.8n80rk2fd36g" target="_blank" title="docs.google"><img src='../../assets/doc.google.png' height="25px" width="25px" /></a></li>
      </ul>
    </div>
  </div>
</footer>