.candidate-items-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 -0.25rem;
}
.candidate-item-wrapper {
    width: 50%;
}
.add-button {
  position: fixed;
  background: #52c1e6;
  bottom: 30px;
  right: 30px;
  opacity: 0.8;
}
.add-button:hover,
.add-button:active {
  opacity: 1;
}
@media (max-width: 830px) {
    .candidate-item-wrapper {
        width: 100%;
    }
    .add-button {
        display: none;
    }
}