.navbar {
  height: auto;
  width: 100%;

  vertical-align: center;

  background-color: #fafafa;
}

.row {
  margin: 0;
}

.navbar-elem {
  height: 100%;

  padding: 0.5rem;
}
  
.active { 
  height: 2.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
