.navbar {
  height: auto;
  width: 100%;
  vertical-align: center;
  color: #424242;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.navbar-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-states {
  display: flex;
}

.navbar-elem {
  height: 100%;
  padding: 0.5rem 1.5rem;
}
.navbar-elem span {
  font-size: 1em;
}

.navbar-icon {
  margin: 0;
  padding: 0.25rem;
  font-size: 2rem;
}

.navbar-elem.active {
  transform: scale(1.1);
  background: #52c1e6;
  color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.navbar-elem:hover {
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);  
}
.material-icons.search {
   color: #424242;
   margin: 0 1rem;
}
.material-icons.search:hover {
   color: #52c1e6; 
   cursor: pointer;
}
i::selection,
div::selection,
img::selection {
  background: transparent;
}

.nb-icon {
  height: 2.5rem;
  padding-left: 0.35rem;
  padding-right: 0.35em;
}
