<div class="navbar z-depth-2">
    <div class="navbar-row">
        <ng-container *ngIf="!isNotifications; else temp">
            <md-icon class="navbar-icon" (click)="openSearch()">search</md-icon>
        </ng-container>

        <div class="navbar-states">
            <div *ngFor="let state of states; let i = index" [ngClass]="getStyleByIndex(state.name)" (click)="goTo(state)"><span>{{state.name}}</span>
                <ng-container *ngIf="i == states.length - 1 && notificationAmount">
                    <div class="notification-icon">
                        <span class="glyphicon glyphicon-envelope"></span>
                        <span class="badge">{{notificationAmount}}</span>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="navbar-states-hidden">
            <md-icon [mdMenuTriggerFor]="menu">menu</md-icon>
        </div>
        <md-menu class="navbar-menu-hidden" #menu="mdMenu" [overlapTrigger]="false">
            <div class="navbar-hidden" md-menu-item *ngFor="let state of states; let i = index" [ngClass]="getStyleByIndex(state.name)" (click)="goTo(state)"><span>{{state.name}}</span></div>
        </md-menu>
        <ng-container *ngIf="!isNotifications; else temp">
            <md-icon class="navbar-icon" (click)="openSort()">sort</md-icon>
        </ng-container>

    </div>
</div>
<search-panel [hidden]="!isSearchVisible" [isCandidate]="isCandidate" [isPosition]="isPosition"></search-panel>
<sort-panel [hidden]="!isSortVisible" [isCandidate]="isCandidate" [isPosition]="isPosition"></sort-panel>

<ng-template #temp>
    <div></div>
</ng-template>
