<div class="navbar z-depth-2">
  <div class="navbar-row">
    <i class="navbar-icon material-icons" [ngClass]="{active: isSearchVisible}" (click)="showSearchForm()">search</i>
    <div class="navbar-states">
      <div *ngFor="let state of states; let i = index" [ngClass]="getStyleByIndex(i)" (click)="goTo(state)">{{state.name}}</div>
    </div>
    <i class="navbar-icon material-icons" [ngClass]="{active: isFilterVisible}" (click)="showFilterForm()">filter_list</i>
  </div>
</div>
<search-panel [hidden]="!isSearchVisible"></search-panel>
<filter-panel [hidden]="!isFilterVisible"></filter-panel>