<div class="navbar z-depth-2">
  <div class="navbar-row">
    <md-icon class="navbar-icon" (click)="openSearch()">search</md-icon>
    <div class="navbar-states">
      <div *ngFor="let state of states; let i = index" [ngClass]="getStyleByIndex(i)" (click)="goTo(state)"><span>{{state.name}}</span></div>
    </div>
    <!-- <ul class="hidden-menu-wrapper collapsible" data-collapsible="accordion">
      <li>
        <div  class="collapsible-header">
          <i class="hide-on-large-only small material-icons open-menu">menu</i>
        </div>
        <div class="collapsible-body">
          <div *ngFor="let state of states; let i = index" [ngClass]="getStyleByIndex(i)" (click)="goTo(state)"><span>{{state.name}}</span></div>
        </div>
      </li>
    </ul> -->
    <md-icon class="navbar-icon">sort</md-icon>
  </div>
</div>
<search-panel></search-panel>
<!--<filter-panel></filter-panel>   

  Sort panel should be added

-->