.page-header {
  background-color: #273248;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px 10px;
  }
}

//user info
.user-info {
  text-align: center;
  &__photo-wrap {
    display: inline-block;
    width: 3rem;
  }
  &__photo {
    width: 100%;
    border-radius: 50%;
  }
  &__name {
    text-transform: uppercase;
    color: #fff;
    font-size: medium;
    font-weight: 500;
  }
}

//brand-logo
.brand-logo {
  flex-basis: 20rem;
  flex-shrink: 1;
  padding-right: 40px;
  box-sizing: content-box;
  &__img {
    display: block;
    width: 100%;
    min-width: 100px;
  }
}

img::selection {
  color: transparent;
}

div::selection {
  color: #56CCF2;
}
