.tagline_container {
    background-color: #526C7B;
    transform: rotate(1.2deg);
    margin-right: 1.8rem;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.tagline_inner {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.6rem;
    color: #FFFFFF;
    font-style: bold;
    font-family: "Roboto Slab";
    text-align: center;
    padding: 2% 2%;
    transform: rotate(-1.2deg);
    margin-right: 0.5rem;
}

.blue {
    color: #56CCF2;
}

p::selection {
    color: #FFFFFF;
}
span::selection {
    color: #56CCF2;
}
/* Large devices only */
@media (min-width: 1560px) {
	.tagline_inner {
		font-size: 1.6rem;
	}
}
@media (min-width: 1024px) and (max-width: 1559px) {
	.tagline_inner {
        font-size: 1.2rem;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
 	.tagline_inner {
         font-size: 1rem;
     }
}
@media (max-width: 767px) {
	.tagline_inner {
        font-size: 0.8rem;
    }
}

/* Super extra smal devices only (e.g., iPhone 4) */
@media (max-width: 479px) {
    .tagline_inner {
        font-size: 0.6rem;
    }
}