.notification__inner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
  font-size: 0.8rem;
}
.notification:last-child .notification__inner {
  border-bottom: 0;
}
.notification__inner > div {
  padding: 0 15px;
}
.notification__inner .type {
  font-size: 0;
  height: 1rem;
  padding: 0;
  width: 1.5rem;
  margin: 10px;
}
.notification__inner .date {
  font-weight: 500;
  border-right: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  width: 6rem;
  text-align: right;
  font-size: 0.7rem;
}
.notification__inner.Reminders .type {
  background-color: #374767;
}
.notification__inner.News .type {
  background-color: #52c1e6;
}
.notification__inner.Assignments .type {
  background-color: #6d8b9c;
}

div::selection {
  color: #52c1e6;
}