<ng-container *ngIf="notification">
    <div class="notification__inner" [ngClass]="notification.notificationType">
        <div class="type">{{notification.notificationType}}</div>
        <div class="date">{{notification.date | date:"mediumDate"}}</div>
        <div class="description">{{notification.notificationType}}</div>
        <ng-container *ngIf="notification.notificationType === 'Interview' && !interviewStatus">
            <div class="feedback-button" (click)="openInterview()">Leave feedback
            <md-icon>feedback</md-icon></div>
        </ng-container>
    </div>
</ng-container>
