<div class="card">
    <a class="card-action">
        <div class="card horizontal">
            <div class="card-image">
                <img [src]="curCandidate.imageUrl" alt="photo">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <div class="name">{{curCandidate.name}}</div>
                    <div class="email">{{curCandidate.email}}}</div>
                    <div class="phone">{{curCandidate.phoneNumber}}}</div>
                </div>
            </div>
        </div>
    </a>
</div>
