<div class="create-wrapper">
    <div class="row">
        <button (click)="addCandidate()" class="btn add-candidate">Add candidate</button>
        <div class="row input-wrapper">
            <div class="header-info">General information</div>
            <div class="input-field col m6 s12">
                <input [(ngModel)]="canInfo.firstNameEng" id="first_name" type="text" class="validate">
                <label for="first_name">First Name (en)</label>
            </div>
            <div class="input-field col m6 s12">
                <input [(ngModel)]="canInfo.firstNameRus" id="first_name" type="text" class="validate">
                <label for="first_name">First Name (ru)</label>
            </div>
            <div class="input-field col m6 s12">
                <input [(ngModel)]="canInfo.lastNameRus" id="last_name" type="text" class="validate">
                <label for="last_name">Last Name (en)</label>
            </div>
            <div class="input-field col m6 s12">
                <input [(ngModel)]="canInfo.lastNameEng" id="last_name" type="text" class="validate">
                <label for="last_name">Last Name (ru)</label>
            </div>
            <div class="input-field col m6 s12">
                <input [(ngModel)]="canInfo.resume" id="resume" type="text" class="validate">
                <label for="resume">Link on resume</label>
            </div>
            <div class="input-field col m6 s12">
                <input [(ngModel)]="canInfo.desiredSalary" id="salary" type="text" class="validate">
                <label for="salary">Desired salary</label>
            </div>
             <div class="input-field col m6 s12">
                <input [(ngModel)]="canInfo.picture" id="picture" type="text" class="validate">
                <label for="picture">Link on picture</label>
            </div>
            <ng-container *ngIf="cities.length">
                <select-form #city [(result)]="canInfo.city" [placeholder]="'City'" [array]="cities"></select-form>
            </ng-container>
            <ng-container *ngIf="englishLevel.length">
                <select-form #engLevel [(result)]="canInfo.engLevel" [placeholder]="'English level'" [array]="englishLevel"></select-form>
            </ng-container>
            <ng-container *ngIf="statuses.length">
                <select-form #status [(result)]="canInfo.status" [placeholder]="'Status'" [array]="statuses"></select-form>
            </ng-container>
        </div>
        <div class="header-info">Person Contacts</div>
        <contacts-form #contact [(contact)]="canInfo.contact"></contacts-form>
        <ng-container *ngIf="skills?.length">
            <div class="header-info">Skills</div>
            <div class="row skills">
                 <div class="col m6 s12">
                    <div class="header-info__inner">Primary</div>
                    <ng-container *ngIf="skills.length">
                        <skill-form [(skill)]="canInfo.candidatePrimarySkill" [array]="skills"></skill-form>
                    </ng-container>
                    <datepicker-form [placeholder]="'First date of work with primary skill'"></datepicker-form>
                </div> 
                <div class="col secondary m6 s12">
                    <div class="header-info__inner">Secondary</div>
                     <ng-container *ngIf="skills.length">
                        <skill-form *ngFor="let item of canInfo.candidateSecondarySkills; let i = index" [(skill)]="canInfo.candidateSecondarySkills[i]"
                            [array]="skills"></skill-form>
                    </ng-container> 
                    <button class="btn add-secondary" (click)="addSecondary()">Add secondary skill</button>
                    <button *ngIf="canInfo.candidateSecondarySkills.length" class="btn remove-secondary" (click)="removeSecondary()">Remove secondary skill</button>
                </div>
            </div>
        </ng-container>
    </div>
    <div *ngIf="prevJobs.length" class="header-info jobs">Previous jobs</div>
    <div>
        <prev-job-form #prevJob *ngFor="let job of prevJobs"></prev-job-form>
    </div>
    <button class="btn add-prev-job" (click)="addPrevJob()">Add previous job</button>
    <button *ngIf="prevJobs.length" class="btn remove-prev-job" (click)="removePrevJob()">Remove previous job</button>
