.candidate-info-container {
  padding: 2rem 2rem;
  margin: 0.5rem 0 0;
  min-height: 18rem;
  height: auto;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

.candidate-blocks {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.candidate-block.img {
  max-width: 230px;
  margin-right: 2rem;
}

.candidate-block img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
}

.candidate-info-item.candidate-status {
  position: absolute;
  display: block;
  padding: 0.5rem 2.5rem;
  transform: rotate(45deg);
  text-transform: uppercase;
  text-align: center;
  top: 23px;
  right: -58px;
  background-color: #52c1e6;
  color: #fff;
  width: 100px;
  font-size: 0.8em;
}

.candidate-name {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 1.2em;
  font-weight: 500;
}

.material-icons {
  vertical-align: bottom;
  font-size: 1.4rem;
  color: #82a0b1;
  line-height: 1.4rem;
}

.material-icons.candidate-phone {
  color: #f77171;
}

.material-icons.candidate-location {
  color: #c9ccca;
}

.feedback-logotypes {
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  vertical-align: bottom;
  line-height: 1.4rem;
}
.candidate-skype,
.candidate-linkedin {
  .feedback-logotypes {
    background: url("/assets/skype_logo.png") no-repeat 0 0;
    background-size: contain;
  }
}

.candidate-linkedin .feedback-logotypes {
  background: url("/assets/linkedin_icon2.png") no-repeat 0 0;
  background-size: contain;
}

.candidate-info-container .candidate-skills img {
  width: 4rem;
  height: 4rem;
  vertical-align: middle;
}

.candidate-skills {
  padding-left: 10px;
  display: flex;
}

.candidate-info-item {
  font-family: sans-serif;
  font-size: 1rem;
  border-bottom: 1px solid lightgray;
  padding-top: 6px;
  padding-bottom: 6px;
  flex-direction: row;
  display: flex;
}

.candidate-info-item .attribute {
  display: inline-block;
  width: 10rem;
  font-weight: 500;
  font-size: 1rem;
  font-family: sans-serif;
  color: #273248; // border-right: 1px solid lightgray;
}

.candidate-info-item span {
  font-family: sans-serif;
  font-size: 0.9rem;
  padding-left: 10px;
  color: #526c7b;
}

.attribute {
  display: inline-block;
  width: 10rem;
  font-weight: 500;
  font-size: 1rem;
  font-family: sans-serif;
  color: #273248; // border-right: 1px solid lightgray;
}

.candidate-info-item .attribute-skills {
  flex-direction: column;
  display: flex;
  justify-content: center;
}

span::selection {
  color: #56CCF2;
}

img,
i {
  &::selection {
    background: transparent;
  }
}

.candidate-skill-name {
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.candidate-skills div::selection {
  background: transparent;
}

.mat-chip:hover {
  border: none;
}

button {
  height: 2rem;
  width: auto;
  display: inline-block;
  background-color: #273248;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  border: none;
  border-radius: 2px;
  text-align: center;
  letter-spacing: .5px;
  color: #fff;
  transition: .3s ease-out;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1em;
  margin: 1rem 1rem 0 0;
  padding: 0 1rem;
}
button:hover,
button:focus,
button:active,
 {
	background-color: #56CCF2;
	box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
}