<div class="candidate-info-container">
    <div class="candidate-blocks">
        <div class="candidate-block">
            <img class="candidate-photo" [src]="candidate?.imgUrl">
        </div>
        <div class="candidate-block">
            <div class="candidate-name">{{candidate?.firstNameEng}} {{candidate?.lastNameEng}}</div>
            <div class="candidate-info-item candidate-status">{{candidate?.status.name}}</div>
            <div class="candidate-info-item candidate-location">({{candidate?.city.name}})</div>
            <div class="candidate-feedback">
                <div class="candidate-feedback-item candidate-phone"><i class="small material-icons">call</i>{{candidate?.contact.phone}}</div>
                <div class="candidate-feedback-item candidate-email"><i class="small material-icons">email</i>{{candidate?.contact.email}}</div>
                <div class="candidate-feedback-item candidate-skype"><i class="feedback-logotypes"></i>{{candidate?.contact.skype}}</div>
                <div class="candidate-feedback-item candidate-linkedin"><i class="feedback-logotypes"></i>{{candidate?.contact.linkedIn}}</div>
            </div>
        </div>
    </div>
    <div class="candidate-info__inner">
        <div class="candidate-skills">
            <span>Primary skill:</span>
            <img class="candidate-skill" [src]="candidate?.primarySkill.skillUrl"/>
            <span>Secondary skills:</span>
            <img class="candidate-skill" *ngFor="let item of candidate?.secondarySkills" [src]="item.skillUrl"/>
        </div>
        <div class="candidate-info-item candidate-experience">
            <span>Experience from: </span>{{candidate?.experience | date:"mediumDate"}}
        </div>
        <div class="candidate-info-item candidate-english-level">
            <span>English: </span>{{candidate?.englishLevel.name}}
        </div>
        <div class="candidate-info-item candidate-desired-salary">
            <span>Desired salary: </span>{{candidate?.desiredSalary}}
        </div>
        <div class="candidate-info-item candidate-last-contact">
            <span>Last connection date: </span>{{candidate?.lastContactDate | date:"mediumDate"}}
        </div>
        <div class="candidate-info-item candidate-hr">
            <span>Current HR: </span>{{candidate?.hrm.name}}
        </div>
        <div class="candidate-info-item candidate-hr">
            <span>Possible vacancies: </span>
        </div>
        <div class="possible-vacancies">
            <position-preview-card *ngFor="let item of candidate?.vacancies" [position]="item"></position-preview-card>
        </div>
    </div>
</div>