.input-wrapper {
    input {
        border: 1px solid #ccc;
        height: 2rem;
        box-sizing: border-box;
        padding: 0 15px;
        margin-bottom: 0;
        min-width: 100px;
        font-size: 1em;
        &:focus,
        &:active,
        &[type=text]:not(.browser-default).valid {
            border-bottom: 1px solid #56CCF2;
            box-shadow: 0 1px 0 0 #56CCF2;
        }
    }
    label {
        text-transform: uppercase;
        font-size: 1rem;
        padding: 0 15px;
        top: 0.2rem;
        width: auto;
        .active {
            top: 0.4rem;
            font-size: 0.6em;
        }
    }
    label,
    input:focus+label,
    input:active+label {
        color: #56CCF2;
        font-size: 0.6em;
    }
}

.header-info {
    text-transform: uppercase;
    margin: 0 15px;
    padding: 10px 15px;
    color: #273248;
    border-bottom: 1px solid #ccc;
<<<<<<< HEAD
    .contacts {
        margin: 15px 65px 0;
    }
=======
}
.header-info.jobs.contacts {
    margin-top: 15px;
}
.header-info.contacts {
    margin: 15px 65px 0;
}
.add-border-wrapper {
  border-bottom: 1px solid #ccc;
  margin: 1rem 0.7rem 0;
>>>>>>> 2618e0983f37c85b3a38a205c0e82c9192be19c5
}