<div class="position-input-wrapper">
    <div class="header-info">General information</div>
    <div>
        <md-input-container class="">
            <input [(ngModel)]="vacInfo.projectName" mdInput placeholder="Project Name">
        </md-input-container>
        <md-input-container class="">
            <input [(ngModel)]="vacInfo.vacancyName" mdInput placeholder="Position Name">
        </md-input-container>
        <md-input-container class="">
            <input [(ngModel)]="vacInfo.link" mdInput placeholder="Link">
        </md-input-container>
    </div>
    <div>
        <datepicker-form [(date)]="vacInfo.requestDate" [placeholder]="'Request Date'"></datepicker-form>
        <datepicker-form [(date)]="vacInfo.startDate" [placeholder]="'Start Date'"></datepicker-form>
        <datepicker-form [(date)]="vacInfo.closeDate" [placeholder]="'Closure Date'"></datepicker-form>
    </div>
    <div>
        <select-form [(result)]="vacInfo.status" [placeholder]="'Status'" [required]="true" [array]="statuses"></select-form>
        <select-form [(result)]="vacInfo.city" [placeholder]="'City'" [array]="cities"></select-form>
        <select-form [(result)]="vacInfo.engLevel" [placeholder]="'English level'" [array]="englishLevel"></select-form>
    </div>
    <div class="header-info">Skills</div>
    <div class="skills">
        <div class="primary-skill">
            <div class="header-info__inner">Primary</div>
            <skill-form [(skill)]="vacInfo.primarySkill" [array]="skills"></skill-form>
            <md-input-container class="">
                <input [(ngModel)]="vacInfo.experience" type="number" mdInput placeholder="Experience (years)">
            </md-input-container>
        </div>
        <div class="secondary-skill">
            <div class="header-info__inner">Secondary</div>
            <skill-form *ngFor="let item of vacInfo.secondarySkills; let i = index" [(skill)]="vacInfo.secondarySkills[i]" [array]="skills"></skill-form>
            <div>
                <button class="btn add-secondary" (click)="addSecondary()">Add secondary skill</button>
                <button *ngIf="vacInfo.secondarySkills?.length" class="btn remove-secondary" (click)="removeSecondary()">Remove secondary skill</button>
            </div>
        </div>
    </div>
</div>
