.go-back {
    position: fixed;
    height: 100%;
    width: 8%;
    left: 1.5%;
    background: #fff;
    opacity: 0.2;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
md-icon {
    color: #52c1e6;
    font-size: 2em;
    height: 40px;
    width: 40px;
}
.go-back:hover {
    opacity: 0.5;
}
@media (max-width: 992px) {
    .go-back {
        display: none;
    }
}