.positions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
position-preview-card {
  width: 32.9%;
}
@media (max-width: 950px) {
  position-preview-card {
    width: 49%;
  }
}
@media (max-width: 530px) {
  position-preview-card {
    width: 100%;
  }
}
.add-button {
  position: fixed;
  background: #52c1e6;
  bottom: 30px;
  right: 30px;
  opacity: 0.8;
}
.add-button:hover,
.add-button:active {
  opacity: 1;
}