<div class="">
    <a href="#" class="card-action">
        <div class="card horizontal">
            <div class="card-image">
                <img src="../../../assets/guest.png" alt="photo">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <div class="name">Oleg Smirnov</div>
                    <div class="email">o.smirnov@gmail.com</div>
                    <div class="phone">+123456789123456789</div>
                </div>
            </div>
        </div>
    </a>
</div>