<div class="row">
    <div class="row input-wrapper">
        <div class="header-info">General information</div>
        <md-input-container class="">
            <input [(ngModel)]="vacInfo.vacancyName" mdInput placeholder="Position Name">
        </md-input-container>
        <datepicker-form [(date)]="vacInfo.requestDate" [placeholder]="'Date Position Received'"></datepicker-form>
        <md-input-container class="">
            <input [(ngModel)]="vacInfo.projectName" mdInput placeholder="Project Name">
        </md-input-container>
        <datepicker-form [(date)]="vacInfo.startDate" [placeholder]="'Start of project'"></datepicker-form>
        <md-input-container class="">
            <input [(ngModel)]="vacInfo.link" mdInput placeholder="Link on project">
        </md-input-container>
        <datepicker-form [(date)]="vacInfo.closeDate" [placeholder]="'End of project'"></datepicker-form>

        <select-form [(result)]="vacInfo.city" [placeholder]="'City'" [array]="cities"></select-form>
        <select-form [(result)]="vacInfo.engLevel" [placeholder]="'English level'" [array]="englishLevel"></select-form>
        <select-form [(result)]="vacInfo.status" [placeholder]="'Status'" [array]="statuses"></select-form>
    </div>
    <div class="header-info">Skills</div>
    <div class="row skills">
        <div class="col m6 s12">
            <div class="header-info__inner">Primary</div>
            <skill-form [(skill)]="vacInfo.primarySkill" [array]="skills"></skill-form>
            <datepicker-form [(date)]="vacInfo.date" [placeholder]="'First date of work with primary skill'"></datepicker-form>
        </div>
        <div class="col m6 s12">
            <div class="header-info__inner">Secondary</div>
            <skill-form *ngFor="let item of vacInfo.secondarySkills; let i = index" [(skill)]="vacInfo.secondarySkills[i]" [array]="skills"></skill-form>
            <div>
                <button class="btn add-secondary" (click)="addSecondary()">Add secondary skill</button>
                <button *ngIf="vacInfo.secondarySkills?.length" class="btn remove-secondary" (click)="removeSecondary()">Remove secondary skill</button>
            </div>
        </div>
    </div>
</div>
