<br>
<br>
<br>
<div class="container">
  нужно переделать логин форму
</div>
<div class="md-auth md-default md-effect" id="md-auth">
  <div class="md-content-auth md-content-default">
    <form action="/login" method="post" class="authorization-form">
      <input class="authorization-input" type="text" name="username" placeholder="LOGIN">
      <input class="authorization-input" type="password" name="password" placeholder="PASSWORD">
      <div>
        <button type="submit" class="md-close"><p class="md-close-text">Enter</p></button>
      </div>
    </form>
  </div>
</div>

<div class="container">
  нужно переделать логин форму
</div>
<br>
<br>
<br>