.auth-logo-block {
    margin-left: 3.2rem;
    margin-top: 0.5rem;
}
.auth-logo-img {
    height: 3.6rem;
    transition: 0.5s;
}
.auth-logo-img:hover {
    opacity: 0.85;
    transition: 0.5s;
}
.authorization-input{
    width:80%;
}
.md-content-auth{
    width: 20rem;
}
input[type="text"] {
		/*Size & Position */
	height: auto;	
		/*Margin, Border & Padding*/
	border: 0.06rem solid #C4C2EF;
	margin: 0.5rem 2rem;
	padding-left: 0.6vw;
		/*Other*/
	background: radial-gradient(circle at 50% 33%, #FFFFFF, #EFEFEF);
	//cursor: url(../images/elements/PF3C_zlk_IBream.cur), text; ///wtf
    text-shadow: -0.01rem -0.01rem #818181,
               -0.03rem -0.04rem 0 #A2A2A2;
    font: 1rem "Source Sans Pro";
}

input[type="text"]:hover {
	opacity: 0.8;
    transition: 0.3s;
}

input[type="password"] {
		/*Size & Position */
	height: auto;	
		/*Margin, Border & Padding*/
	border: 0.06rem solid #C4C2EF;
	margin: 0.5rem 2rem;
	padding-left: 0.6vw;
		/*Other*/
	background: radial-gradient(circle at 50% 33%, #FFFFFF, #EFEFEF);
	//cursor: url(../images/elements/PF3C_zlk_IBream.cur), text;
    font: 1rem "Source Sans Pro";
    text-shadow: -0.01rem -0.01rem #818181,
               -0.03rem -0.04rem 0 #A2A2A2;
    color: #222;
}

input[type="text"]:focus{ 
    border: 0.06rem solid #dbdaf3;
    outline: none;
}

input[type="password"]:focus{ 
    border: 0.06rem solid #dbdaf3;
	outline: none;
}

.md-close {
	border: 0.05rem solid #C4C2EF;
	padding: 0.1rem 0.4rem;
    margin-left: 8rem;
	background: radial-gradient(circle at 50% 33%, #596277, #596277);
	color: #fff;
	font: 0.8rem "Source Sans Pro";
	letter-spacing: 0.05vw;
	text-transform: uppercase;
	//cursor: url(../images/elements/PF3C_zlk_Click2.cur), pointer;
	display: inline-block;
	margin-top: 0.56vw;
	opacity: 0.9;
	outline: none;
	/* transition: 0.2s; */
}
.md-close:hover {
    opacity: 0.8;
}
.md-close-text {
    margin:0.2rem;
}
.md-content-auth {
    z-index: 1500;
    //position: fixed;
    background-color: white;
}