.form {
    margin: 0.5rem 0 0;
    padding: 0;
    text-align: center;
    .form-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0 30px;
    }
    input {
        text-transform: uppercase;
        background-color: #fff;
        font-size: 1rem;
        border: 1px solid #ccc;
        height: 3.5rem;
        box-sizing: border-box;
        padding: 0 15px;
        margin-bottom: 0;
        &:focus {
            border-bottom: 1px solid #56CCF2;
            box-shadow: 0 1px 0 0 #56CCF2;
        }
    }
    .btn {
        background-color: #273248;
        width: 100%;
        height: 3.5rem;
        &:hover,
        &:focus {
            background-color: #56CCF2;
        }
    }
}