prev-job-input-form
<div class="input-field col s6">
  <input id="company" type="text" class="validate" ngDefaultControl>
  <label for="company">Company Name</label>
</div>
<div class="input-field col s6">
  <input id="position" type="text" class="validate" ngDefaultControl>
  <label for="position">Position</label>
</div>

<div class="row">
  Contacts:
  <div class="row">
    <div class="input-field col s6">
      <input id="email" type="email" class="validate" ngDefaultControl>
      <label for="email">Email</label>
    </div>
    <div class="input-field col s6">
      <input id="phone" type="text" class="validate" ngDefaultControl>
      <label for="phone">Phone</label>
    </div>
    <div class="input-field col s6">
      <input id="linkedIn" type="text" class="validate" ngDefaultControl>
      <label for="linkedIn">LinkedIn</label>
    </div>
  </div>
</div>