<div *ngIf="user">
    <div class="fixed-action-btn horizontal">
        <ul>
            <li><a class="btn-floating red">Add candidate</a></li>
            <li><a class="btn-floating yellow darken-1">Add position</a></li>
            <li><a class="btn-floating green">Log out</a></li>
        </ul>
        <a class="btn-floating btn-large">
            <div class="user-info__photo-wrap" *ngIf="user?.picture; else default">
                <img class="user-info__photo" [src]="user.picture" alt="photo">
            </div>
            <ng-template #default>
                <div class="user-info__photo-wrap">
                    <img class="user-info__photo" src="./assets/blank-avatar.png" alt="photo">
                </div>
            </ng-template>

            <div class="user-info__name">{{user.name}}</div>
        </a>
    </div>
</div>