.mat-icon-button {
    width: auto;
    height: auto;
    height: 60px;
    cursor: pointer;
}
.add-wrap {
    opacity: 0.8;
    padding: 0 0.5rem;
}
.log-wrap .user-info__photo-wrap .mat-icon {
    opacity: 0.8;
}
.add-wrap:hover,
.log-wrap:hover .user-info__photo-wrap .mat-icon {
    opacity: 1;
}
.user-info {
  text-align: center;
  &__photo-wrap {
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  &__photo {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }
  &__name {
    padding: 0.6rem 0.5rem 0.8rem;
    text-transform: uppercase;
    margin-bottom: 0.4rem;
    font-size: 0.8em;
    color: #273248;
    text-align: center;
    border-bottom: 1px solid #efefef;
  }
}
.mat-icon-button:hover,
.mat-icon-button.cdk-mouse-focused,
.log-wrap.cdk-mouse-focused .user-info__photo-wrap .mat-icon {
    transform: scale(1.05);
    opacity: 1;
}
.mat-menu-item {
    text-transform: uppercase;
    font-size: 0.8em;
    margin-bottom: 1px;
    color: rgb(39, 50, 72);
}
.mat-menu-item .mat-icon {
    color: rgb(39, 50, 72);
}
.mat-menu-item:hover {
    background: #56CCF2;
    color: #fff;
}
.mat-menu-item:hover .mat-icon {
    color: #fff;
}
.user-info-wrapper {
    display: flex;
    align-items: center;
}
.open-pages-wrap {
    line-height: 0;
    display: flex;
    align-items: middle;
}
.add-name {
    text-transform: uppercase;
    color: #fff;
    line-height: 24px;
}
.arrow-icon {
    font-size: 1em;
    color: #fff;
}