<div class="home-page">
  <navbar-menu></navbar-menu>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


  <login-form></login-form>



  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>



  <div class="opportunities row ">
    <div class="opportunity col m4 offset-m1 l3">
      <div class="center promo promo-example">
        <i class="large material-icons grey-text text-darken-3">search</i>
        <p class="promo-caption">Search the candidate</p>
        <p class="light center">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components.</p>
      </div>
    </div>
    <div class="opportunity col m4 offset-m2 l4 offset-l1">
      <div class="center promo promo-example">
        <i class="large material-icons grey-text text-darken-3">history</i>
        <p class="promo-caption">Look at his history</p>
        <p class="light center">By utilizing elements and principles of Material Design, we were able to create a framework that focuses on User
          Experience.
        </p>
      </div>
    </div>
    <div class="opportunity col m10 offset-m1 l3 offset-l1">
      <div class="center promo promo-example">
        <i class="large material-icons grey-text text-darken-3">work</i>
        <p class="promo-caption">Work together</p>
        <p class="light center">We have provided detailed documentation as well as specific code examples to help new users get started.</p>
      </div>
    </div>
  </div>
</div>