.slogan-login-wrapper {
    padding: 0.5rem 0 0;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}
.slogan-wrapper,
.login-wrapper {
    width: 50%;
}
.slogan-wrapper {
    padding: 1rem 0;
}
@media (max-width: 992px) {
  .slogan-wrapper,
  .login-wrapper {
    width: 100%;
  }
}