.card {
    width: 100%;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem 2rem;
    color:  #273248;;
    margin: 0.5rem 0 0;
    cursor: url('/assets/cursor/link_6.png'), pointer;
}
.card .card-image {
    width: 100px;
    height: 100px;
    margin-right: 0.7rem;
}
.card-image img {
    border-radius: 50%;   
    margin: auto;
    width: 100px;
    height: 100px;
}
.card-content .name {
    text-transform: uppercase;
    margin-bottom: 10px;
}
.card-content .material-icons {
    color: #526c7b;
    margin-right: 10px;
    vertical-align: middle;
    font-size: 1.5rem;
}

img::selection {
	color: transparent;
}

div::selection {
	color: #56CCF2;
}

i::selection {
	color: #526C7B;
}

.candidate-phone {
    color: #e47a7a !important;
}
.candidate-email {
    color: #718faf !important;
}