<md-input-container class="">
    <input [(ngModel)]="contact.email" type="email" pattern="\S+@\S+\.\S+" mdInput placeholder="Email">
  </md-input-container>
  <md-input-container class="">
    <input [(ngModel)]="contact.skype" mdInput placeholder="Skype">
  </md-input-container>
  <md-input-container class="">
    <input [(ngModel)]="contact.phone" mdInput type="number" placeholder="Phone">
  </md-input-container>
  <md-input-container class="">
    <input [(ngModel)]="contact.linkedIn" mdInput placeholder="LinkedIn">
  </md-input-container>