<div class="contacts">
  Contacts:
  <div class="row">
    <div class="input-field col s6">
      <input [(ngModel)]="contact.email" id="email" type="email" class="validate">
      <label for="email">Email</label>
    </div>
    <div class="input-field col s6">
      <input [(ngModel)]="contact.skype" id="skype" type="text" class="validate">
      <label for="skype">Skype</label>
    </div>
    <div class="input-field col s6">
      <input [(ngModel)]="contact.phone" id="phone" type="text" class="validate">
      <label for="phone">Phone</label>
    </div>
    <div class="input-field col s6">
      <input [(ngModel)]="contact.linkedIn" id="linkedIn" type="text" class="validate">
      <label for="linkedIn">LinkedIn</label>
    </div>
  </div>
</div>