.search-block {
  height: auto;
  box-sizing: border-box;
}
.form {
  padding: 0.5rem 0 0;
}
.form-inner {
  background: #fff;
  padding: 2rem 1rem 1rem;
}
select-form,
.mat-input-container {
  margin: 0 1rem;
  display: inline-block;
  vertical-align: middle;
}
.show-more-btn {
  background: #52c1e6;
  padding: 0.5rem;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  border: none;
  border-radius: 2px;
  text-align: center;
  letter-spacing: .5px;
  color: #fff;
  transition: .3s ease-out;
  cursor: pointer;
	text-transform: uppercase;
  opacity: 0.6;
}
.show-more-btn:hover,
.show-more-btn:active {
  opacity: 1;
}
.advanced-search {
  border-bottom: 1px solid #dcdcdc;
  color: #676767;
  position: relative;
  text-transform: uppercase;
  font-size: 0.7em;
  text-align: center;
  height: 1.4rem;
  margin: 1rem 1rem 0rem 1rem;
  cursor: pointer;
}
.advanced-search .mat-icon {
  position: absolute;
  bottom: -15px;
  background: #fff;
  left: 49%;
}
.advanced-search .mat-icon.show-less {
  bottom: -10px;
}
.advanced-search:hover {
  border-bottom: 1px solid #52c1e6;
  color: #52c1e6;
}
.btn {
	background-color: #273248;
	width: 100%;
	height: 3.5rem;	
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  border: none;
  border-radius: 2px;
  text-align: center;
  letter-spacing: .5px;
  color: #fff;
  transition: .3s ease-out;
  cursor: pointer;
	text-transform: uppercase;
	font-size: 1em;
  margin-top: 1rem;
}
.btn:hover,
.btn:focus,
.btn:active {
	background-color: #56CCF2;
	box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
}