<div class="search-block">
    <div class="form">
        <div class="form-inner">
            <select-form class="select" [(result)]="search.city" [placeholder]="'City'" [array]="cities"></select-form>
            <select-form *ngIf="isCandidate" [(result)]="search.status" [placeholder]="'Status'" [array]="canSt"></select-form>
            <select-form *ngIf="isVacancy" [(result)]="search.status" [placeholder]="'Status'" [array]="vacSt"></select-form>
            <select-form [(result)]="search.primarySkill" [placeholder]="'Skill'" [array]="skills"></select-form>
            <range-form [(range)]="search.level" [min]="1" [max]="4"></range-form>
            <button (click)="toggleAdvanced()">
                <md-icon *ngIf="isAdvancedShown; else close">keyboard_arrow_up</md-icon>
                <ng-template #close><md-icon>keyboard_arrow_down</md-icon></ng-template>
            </button>
            <ng-container class="more-options-wrapper" *ngIf="isAdvancedShown">
                <div class="more-options-wrapper" *ngIf="isCandidate">
                    <md-input-container class="">
                        <input [(ngModel)]="search.skype" mdInput placeholder="Skype">
                    </md-input-container>
                    <md-input-container class="">
                        <input [(ngModel)]="search.email" mdInput pattern="\S+@\S+\.\S+" placeholder="Email">
                    </md-input-container>
                    <md-input-container class="">
                        <input [(ngModel)]="search.lastNameEng" mdInput placeholder="Surname(EN)">
                    </md-input-container>
                    <md-input-container class="">
                        <input [(ngModel)]="search.lastNameRus" mdInput placeholder="Surname(RU)">
                    </md-input-container>
                    <md-input-container class="">
                        <input [(ngModel)]="search.phone" mdInput pattern="^[0-9\-\+]{9,15}$" placeholder="Phone">
                    </md-input-container>
                    <select-form [(result)]="search.hrm" [placeholder]="'HR name'" [array]="hr"></select-form>
                </div>
                <div class="more-options-wrapper" *ngIf="isVacancy">
                    <md-input-container class="">
                        <input [(ngModel)]="search.vacancyName" mdInput placeholder="Vacancy name">
                    </md-input-container>
                    <md-input-container class="">
                        <input [(ngModel)]="search.projectName" mdInput placeholder="Project name">
                    </md-input-container>
                    <datepicker-form [(date)]="search.requestDate" [placeholder]="'Request date'"></datepicker-form>
                    <datepicker-form [(date)]="search.startDate" [placeholder]="'Start date'"></datepicker-form>
                </div>
            </ng-container>
            <button class="btn waves-effect waves-light" (click)="startSearch()">Find</button>
        </div>
    </div>
</div>
