.search-block {
  margin: 10px 0;
  padding: 1rem;
  background: #fff;
  height: auto;
}

select-form {
  margin: 0 1rem;
  display: inline-block;
  vertical-align: middle;
}

.btn {
  background-color: #273248;
  margin: 0 10%;
  width: 80%;
  height: 3rem;
  color: #fff;
}

.btn:hover,
.btn:focus {
  background-color: #56CCF2;
}