<div class="position-info-container">
    <div class="position-blocks">
        <div class="position-block">
            <img class="position-photo" [src]="position?.primarySkill.picture">
        </div>
        <div class="position-block">
            <div class="position-feedback">
                <div class="position-info-item position-status"><span>Status: </span>{{position?.status}}</div>
                <div class="position-info-item position-date"><span>Date: </span>{{position?.requestDate | date : 'mediumDate'}}</div>
                <div class="position-info-item position-skill-name"><span>Language: </span>{{position?.primarySkill.name}}</div>
                <div class="position-info-item position-project-name"><span>Project: </span>{{position?.projectName}}</div>
                <div class="position-info-item position-vacancy-name"><span>Vacancy: </span>{{position?.vacancyName}}</div>
                <div class="position-info-item position-english-level"><span>English(min): </span>{{position?.engLevel}}</div>
            </div>
        </div>
    </div>
</div>
