html {
  font-size: 20px;
  height: 100%;
  cursor: url('/assets/cursor/default.cur'), default;
}

body {
  height: 100%;
  background-color: #e8e8e8;
  width: 100%;
  margin: 0 auto;
  cursor: url('/assets/cursor/default.cur'), default;
}

body>.row,
body>.row>.col {
  height: 100%;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.row {
  margin: 0;
}

.col {
  width: 100%;
  padding: 0;
}

main,
home {
  flex: 1 0 auto;
  margin-bottom: 0.5rem;
}



				/*-----------------Scrollbar-----------------*/
::-webkit-scrollbar {
		/*Size & Position*/
  width: 0.8vw;
		/*Other*/
  background: #273248; /*526C7B*/
  opacity: 0.6;
}
::-webkit-scrollbar-track {
		/*Other*/
	border-radius: 2vw;
	box-shadow: inset 0 0 0 0.1vh rgba(0,0,0,0.3);
}
::-webkit-scrollbar-track-piece{
		/*Other*/
	border-radius: 2vw;
	opacity: 0.5;
}
::-webkit-scrollbar-thumb {
	background: -webkit-linear-gradient(0deg, #56CCF2 40%, #526C7B 100%);
  border-radius: 2vh;
  box-shadow: inset 0 0 0 0.02vh rgba(0,0,0,0.5);
	box-shadow: 0vw 0vw 0.1vw #5c2a00, 0vw 0vw 0.01vw #5c2a00;
  border-radius: 0.3vw;
}
