html {
  font-size: 20px;
  height: 100%;
}
body {
  height: 100%;
  background-color: #e8e8e8;
  width: 100%;
  margin: 0 auto;
}
body > .row, 
body > .row > .col {
  height: 100%;
}
app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.row {
  margin: 0;
}
.col {
  width: 100%;
  padding: 0;
}
main,
home {
    flex: 1 0 auto;
    margin-bottom: 0.5rem;
}

