<div class="filter-block" click="changeSortVisibility()">
    <h4 class="filter-header">Sort</h4>
    <div class="form">
        <div class="more-options-wrapper" *ngIf="isCandidate">
            <span>Creation date</span>
            <span>Last contact date</span>
            <span>Remind date</span>
        </div>
        <div class="more-options-wrapper" *ngIf="isVacancy">
            <div class="option start-date" (click)="checkSortState()">
                <span class="start-date">Start date</span>
                <i class="material-icons start-date start-date-icon">play_arrow</i>
            </div>
            <div class="option close-date" (click)="checkSortState()">
                <span class="close-date">Close date</span>
                <i class="material-icons close-date close-date-icon">play_arrow</i>
            </div>
            <div class="option request-date" (click)="checkSortState()">
                <span class="request-date">Request date</span>
                <i class="material-icons request-date request-date-icon">play_arrow</i>
            </div>
        </div>
    </div>
</div>
