article {
  margin: 0.5rem 0 0;
  height: auto;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  transition-duration: (0.5s);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
}
.opp-content,
.opp-media {
  padding: 0 1rem;
}
.image {
  max-height: 8rem; 
  width: auto;
  height: auto;
}
.title {
  font-family: "Roboto Slab";
  color: #526C7B;
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 1rem;
}
p {
  color: #273248;
  font-size: 1em;
}
article:hover {
  transform: scale(1.015);
  transition-duration: (0.5s);
}
@media (max-width: 992px) {
  article {
    flex-wrap: wrap;
  }
}

