<ng-container *ngIf="position as pos">
    <div class="position" (click)="goToDetailView()">
        <div class="position-container">
            <div class="skill">
                <img class="position-img" *ngIf="pos.primarySkill?.picture as pic; else chip" [src]="pic">
                <ng-template #chip>
                    <md-chip-list>
                        <md-chip>{{pos.primarySkill?.name}}</md-chip>
                    </md-chip-list>
                </ng-template>
                <span *ngIf="showBasket" (click)="addToBasket($event)" class="can-basket">
                    <ng-container *ngIf="!isAdded; else remove">Add to</ng-container>
                    <ng-template #remove>Remove from</ng-template>
                    store <md-icon>library_add</md-icon>
                </span>
            </div>

            <div class="position-vacancy">{{pos.vacancyName}}</div>
            <div class="position-project">{{pos.projectName}}</div>
            <div class="add-info">
                <div class="position-date">{{pos.startDate | date:"mediumDate"}}</div>
                <div class="position-city">{{pos.city}}</div>
                <div class="position-date">{{pos.closeDate | date:"mediumDate"}}</div>
            </div>
        </div>
    </div>
</ng-container>
