<div class="position" (click)="goToDetailView()">
    <div class="position-container">
        <img class="position-img" *ngIf="position?.primarySkill?.picture; else defaultPic" [src]="position?.primarySkill.picture">
        <ng-template #defaultPic>
                    <img class="position-img" src="./assets/def-skill.png" alt="photo">
            </ng-template>
        <div class="position-vacancy">{{position?.vacancyName}}</div>
        <div class="position-project">{{position?.projectName}}</div>
        <div class="add-info">
            <div class="position-city">{{position?.city}}</div>
            <div class="position-date">{{position?.creationDate | date:"mediumDate"}}</div>
        </div>
    </div>
</div>